In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
npr=pd.read_csv('npr.csv')

In [3]:
npr

                                                 Article
0      In the Washington of 2016, even when the polic...
1        Donald Trump has used Twitter  —   his prefe...
2        Donald Trump is unabashedly praising Russian...
3      Updated at 2:50 p. m. ET, Russian President Vl...
4      From photography, illustration and video, to d...
...                                                  ...
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

[11992 rows x 1 columns]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
cv=CountVectorizer(max_df=0.95,min_df=2,stop_words='english')

In [6]:
dtm=cv.fit_transform(npr['Article'])

In [7]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [8]:
dtm.shape

(11992, 54777)

In [9]:
from sklearn.decomposition import LatentDirichletAllocation

In [11]:
lda=LatentDirichletAllocation(n_components=8)

In [12]:
lda.fit(dtm)

LatentDirichletAllocation(n_components=8)

In [18]:
len(cv.get_feature_names())

54777

In [20]:
type(cv.get_feature_names())

list

In [23]:
len(lda.components_)

8

In [28]:
lda.components_.shape

(8, 54777)

In [29]:
single_topic=lda.components_[0]

In [30]:
single_topic

array([3.71894113e+00, 5.89183602e+02, 1.25068324e-01, ...,
       1.25000002e-01, 1.25000001e-01, 1.25000001e-01])

In [31]:
top_ten_words=single_topic.argsort()[-10:]

In [32]:
top_ten_words

array([10425, 33419, 11715, 15438,  8149, 25406, 42993, 36283, 22673,
       42561], dtype=int64)

In [33]:
for i in top_ten_words:
    print(cv.get_feature_names()[i])

company
news
coverage
drug
care
insurance
says
people
health
said

In [37]:
for i in range(len(lda.components_)):
    top_ten_words=lda.components_[i].argsort()[-10:]
    for j in top_ten_words:
        print(cv.get_feature_names()[j])
    print('\n')
    print('\n')

company
news
coverage
drug
care
insurance
says
people
health
said




government
attack
killed
told
reports
city
says
people
police
said




new
white
people
obama
house
campaign
clinton
president
said
trump




percent
years
year
new
students
just
school
like
people
says




space
human
facebook
science
people
time
years
new
world
says




percent
children
patients
research
disease
women
study
health
people
says




really
way
new
know
think
time
people
says
just
like




new
department
states
justice
case
federal
law
court
said
state

In [38]:
topic_results=lda.transform(dtm)

In [39]:
topic_results.shape

(11992, 8)

In [40]:
npr['Topic']=topic_results.argmax(axis=1)

In [41]:
npr

                                                 Article  Topic
0      In the Washington of 2016, even when the polic...      2
1        Donald Trump has used Twitter  —   his prefe...      2
2        Donald Trump is unabashedly praising Russian...      2
3      Updated at 2:50 p. m. ET, Russian President Vl...      2
4      From photography, illustration and video, to d...      3
...                                                  ...    ...
11987  The number of law enforcement officers shot an...      1
11988    Trump is busy these days with victory tours,...      2
11989  It’s always interesting for the Goats and Soda...      5
11990  The election of Donald Trump was a surprise to...      2
11991  Voters in the English city of Sunderland did s...      1

[11992 rows x 2 columns]