In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dg=pd.read_csv('npr.csv')

dg

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
tfidf=TfidfVectorizer(min_df=2,max_df=0.95,stop_words='english')

In [5]:
dtm=tfidf.fit_transform(dg['Article'])

In [6]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [7]:
from sklearn.decomposition import NMF

In [8]:
nmf=NMF(n_components=7)

In [9]:
topics=nmf.fit(dtm)

In [12]:
topics.components_.shape

(7, 54777)

In [13]:
single_topic=topics.components_[0]

In [14]:
top_ten_words=single_topic.argsort()[-10:]

In [15]:
top_ten_words

array([14441, 36310, 53989, 52615, 47218, 53152, 19307, 36283, 54692,
       42993], dtype=int64)

In [17]:
for i in top_ten_words:
    print(tfidf.get_feature_names()[i])

disease
percent
women
virus
study
water
food
people
zika
says

In [18]:
for i in range(len(topics.components_)):
    top_ten_words=topics.components_[i].argsort()[-10:]
    for j in top_ten_words:
        print(tfidf.get_feature_names()[j])
    print('\n')
    print('\n')

disease
percent
women
virus
study
water
food
people
zika
says




election
republican
obama
white
house
donald
campaign
said
president
trump




tax
plan
republicans
affordable
obamacare
coverage
medicaid
insurance
care
health




isis
russia
government
state
attack
president
reports
court
said
police




party
delegates
vote
state
democratic
hillary
campaign
voters
sanders
clinton




time
song
life
really
know
people
think
just
music
like




devos
children
college
kids
teachers
student
education
schools
school
students

In [19]:
topic_results=topics.transform(dtm)

In [20]:
topic_results

array([[0.        , 0.12077248, 0.00140345, ..., 0.01519374, 0.        ,
        0.        ],
       [0.00600568, 0.1263293 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.14149178, 0.        , ..., 0.02266304, 0.        ,
        0.        ],
       ...,
       [0.03187899, 0.        , 0.00841262, ..., 0.00373187, 0.02443296,
        0.        ],
       [0.        , 0.03796932, 0.01071724, ..., 0.12673776, 0.01179098,
        0.00100335],
       [0.02172074, 0.00645487, 0.00071254, ..., 0.0124022 , 0.01284471,
        0.00155627]])

In [21]:
topic_results.shape

(11992, 7)

In [23]:
dg['Topic']=topic_results.argmax(axis=1)

In [24]:
dg

                                                 Article  Topic
0      In the Washington of 2016, even when the polic...      1
1        Donald Trump has used Twitter  —   his prefe...      1
2        Donald Trump is unabashedly praising Russian...      1
3      Updated at 2:50 p. m. ET, Russian President Vl...      3
4      From photography, illustration and video, to d...      6
...                                                  ...    ...
11987  The number of law enforcement officers shot an...      3
11988    Trump is busy these days with victory tours,...      1
11989  It’s always interesting for the Goats and Soda...      0
11990  The election of Donald Trump was a surprise to...      4
11991  Voters in the English city of Sunderland did s...      3

[11992 rows x 2 columns]