In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('smsspamcollection.tsv',sep='\t')

In [4]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [5]:
from sklearn.pipeline import Pipeline

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
from sklearn.svm import LinearSVC

In [8]:
clf=Pipeline([('tfidf',TfidfVectorizer()),('cl',LinearSVC())])

In [9]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [13]:
X=df['message']

In [14]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [15]:
y=df['label']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [18]:
X_train

3223    Hi, my love! How goes that day? Fuck, this mor...
3508    Two fundamentals of cool life: "Walk, like you...
3570                      She's fine. Sends her greetings
5517    Miles and smiles r made frm same letters but d...
764     Nothing but we jus tot u would ask cos u ba gu...
                              ...
3927                          I havent add ü yet right..
3131                               Ok. But i finish at 6.
1353    Let Ur Heart Be Ur Compass Ur Mind Ur Map Ur S...
1536    You have won a Nokia 7250i. This is what you g...
74                                   U can call me now...
Name: message, Length: 3900, dtype: object

In [19]:
y_train

3223     ham
3508     ham
3570     ham
5517     ham
764      ham
        ...
3927     ham
3131     ham
1353     ham
1536    spam
74       ham
Name: label, Length: 3900, dtype: object

In [20]:
clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('cl', LinearSVC())])

In [21]:
predicts=clf.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
acc=accuracy_score(predicts,y_test)

In [24]:
acc

0.9844497607655502

In [25]:
from sklearn.metrics import confusion_matrix

In [26]:
confusion_matrix(predicts,y_test)

array([[1457,   22],
       [   4,  189]], dtype=int64)